%p= "About #{@search.hits} results (#{@search.response_time} seconds)"
%p
  = "Showing #{@search.range} results for "
  %b
    =" #{@search.last_query}"
  -#= paginate @search.results
%table.calculator
  %tr
    %th Document ID
    %th Applicant
    %th Priority Date
    %th First Page Image
  -unless @search.results.nil?
    -@search.results.each do |result|
      %tr
        %td= result[:id]
        %td= result[:applicant]
        %td= result[:priority_date]
        %td an image
-#%p
-#  = @search.response

=render :partial => "pagination", :locals => {:search => @search, :page => @page}
