%p= "#{@search.hits} results (#{@search.response_time} seconds)"
%p
  = "Showing #{@search.range} results for "
  %b
    =" #{@search.last_query}"
%table.calculator
  %tr
    %th Document ID
    %th Applicant
    %th Priority Date
    %th First Page Image
  -#%tr
  -#  %td.inputLabel= form.label :core_electricity
  -#  %td= form.text_field :core_electricity, :size => 10
  -#  %td.titleCentered kWh
  -#  %td#core_electricity.titleDecimalAlign 0.000000
%p
  = @search.response
